branches:
  only:
    - master

language: groovy

jdk:
  - openjdk7
  - openjdk8
  - oraclejdk8

before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

before_install:
  - JAVA_HOME=$(jdk_switcher home openjdk8) ./gradlew
